<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content="width=device-width,initial-scale=1.0">
        <title>A Menu</title>
        <link type="image/png" rel="icon" href="../static/food.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" id="full-page">
            <div class="row">


                <div class="col">
                    <!-- <p style="display:block" id="body">Your cart is empty</p> -->
                    <h1 class="text-center">Your Cart</h1>
                    <table class="table" id="your-cart">
                        <tr><th>ITEM</th><th>REMOVE</th></tr>
                    </table>
                    <div class="container text-center">
                        <button class="btn btn-primary" id="submit" type='button'>Confirm and Order</button>
                    </div>
                </div>
                <div class="col order-first" id="A-menu">
                    <h1 class="text-center">A-menu</h1>
                    <table class="table" id="A-menu-table">
                        <tr><th>ITEM</th><th>SELECT</th></tr>
                    </table>
                </div>

            </div>
        </div>
        <!-- Scripts related to BOOTSTRAP -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            //Receive menu
            const server="http://ec2-13-232-249-4.ap-south-1.compute.amazonaws.com"; //CHANGE THIS
            let date = new Date();
            let orderID = date.getTime(); //GET THE MILLISECONDS PASSED SINCE JAN 1st, 1970(Basically Unique)
            orderID = '' + orderID;
            localStorage.setItem('orderId',orderID);
            console.log(localStorage);

            let orderIt = function (id) {
                let x = id;
                x = parseInt(x);
                x-=1;
                console.log(x);
                console.log('ORDERING');
                order[items[x][1]]++;
                console.log(order,order[items[x][1]]);
                // $('<div class="food"'+'id=\"'+items[x][0]+'\">'+items[x][1]+'<button class="btn btn-danger" type="button" onclick="DeleteIt(this.id)" class="add"'+'id=\"'+items[x][0]+'\">REMOVE</button>'+'</div>').appendTo('#your-cart');
                $('<tr class="food" id="'+items[x][0]+'"><td>'+items[x][1]+'</td><td><button class="btn btn-danger" type="button" id="'+items[x][0]+'" onclick="DeleteIt(this.id)">Remove</button></td></tr>').appendTo('#your-cart');
            };
            let DeleteIt = function(id) {
                let x = id;
                x = parseInt(x);
                x-=1;
                console.log(x);
                console.log('DELETING');
                order[items[x][1]]--;
                console.log(order,order[items[x][1]]);
                let referal = '#'+items[x][0];
                $(referal).remove();
            };
            console.log("YAY");
            let items = [];
            let menu={'command':'a_menu'};
            menu = JSON.stringify(menu);
            console.log("YAY");
            $.ajaxSetup({
                contentType: "application/json; charset=utf-8"
            });
            $(document).ready(function() {
                    let item="";
                    console.log('FICL');
                    $.ajax({
                        url: server, //server
                        type: 'POST',
                        dataType:'json',
                        data:menu,
                        success: function(msg) {
                            // alert('wow'+msg);
                            console.log(msg.items);
                            for(let i=0;i<msg.items.length;++i) {
                                console.log("HERE LOOP!")
                                items.push(msg.items[i]);
                                console.log(items);
                            }
                            order = {};
                            for(var i=0;i<items.length;++i) {
                                order[items[i][1]]=0;
                            }
                            console.log(order);
                            for(let i=0;i<items.length;i++) {
                                console.log("LOOP");
                                // $('<div class="food"'+'id=\"'+items[i][0]+'\">'+items[i][1]+'<button type="button" class="btn btn-success" onclick="orderIt(this.id)" class="add"'+'id=\"'+items[i][0]+'\">ADD</button>'+'</div>').appendTo('#A-menu');
                                // console.log(items[i][0],items[i][1]);
                                $('<tr class="food" id="'+items[i][0]+'"><td>'+items[i][1]+'</td><td><button class="btn btn-success" type="button" id="'+items[i][0]+'" onclick="orderIt(this.id)">Add</button></td></tr>').appendTo('#A-menu-table');

                            }
                            console.log("LOOP BROKE");
                            // let supply = [];
                            //     for(const [key, value] of Object.entries(order)) {
                            //         if(value>0) {
                            //             supply.push([key,value]);
                            //         }
                            //     }
                            // console.log(supply);
                            $('#submit').click(function(){
                                let supply = {'command':'order_dets_save',
                                                                'params':{'items': order,'menu':'a_menu','ID':orderID}};
                                supply= JSON.stringify(supply);
                                $.ajax({
                                        url: server,
                                        type: 'POST',
                                        dataType:'json',
                                        data:supply,
                                        success: function(msg) {
                                            console.log("Order Sent "+msg.message);
                                            location.href="/summary.html";
                                        }
                                    });
                            });
                            }
                            });
                    // document.write(item);
                // console.log(items.length);
                // // console.log("HERE");
                // for(let i=0;i<items.length;++i) {
                //     console.log("LOOP");
                //     $('<div class="food">'+items[i][1]+'<button type="button" class="add"'+'id=\"'+items[i][0]+'\"'+'</div>').appendTo('#A-menu');
                //     console.log(items[i][0],items[i][1]);
                // }
                // Now let's make a counter
                // order = {}
                // for(var i=0;i<items.length;++i) {
                //     order[items[i]]=0;
                // }
                // let flag = false;
                // $('#submit').click(function() {
                //     flag = true;
                // });
                // menu = {'command':'order_dets','params':supply};
                // menu = JSON.stringify(menu);
                // $.ajax({
                //     url: 'http://10.30.8.75:7050/',
                //     type: 'POST',
                //     dataType:'json',
                //     data:menu,
                //     success: function(msg) {
                //         console.log("Order Sent");
                //     }
                // });
            });
            // order = {"items": items} //JSON
            //Send post request
        </script>
    </body>
</html>
