<!DOCTYPE html>
<html>
    <head>
        <title>For now</title>
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1>Choose your mess</h1>
            <div class="link-list">
                <div class="element"><a href="A-menu.html">A</a></div>
                <div class="element"><a href="C-menu.html">C</a></div>
            </div>
        </div>
    </body>
    <script>
        //JS
        //AJAX
        //

    </script>
</html>
