<!DOCTYPE html>
<html>
    <head>
        <title>Food Delivery</title>
        <link type="image/png" rel="icon" href="../static/food.png">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 class="display-1 text-center">Choose Your Mess</h1>
            <div class="row">                
                <div class="col-lg-6">
                    <a class='text-center index-section' href="A-menu.html"><p class="jumbotron h2">A-menu</p></a>
                </div>
                <div class="col-lg-6">
                    <a class="text-center index-section" href="C-menu.html"><p class="jumbotron h2">C-menu</p></a>
                </div>
            </div>
        </div>
    </body>
    <script>
        //JS
        //AJAX
        //

    </script>
</html>
