<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link type="image/png" rel="icon" href="../static/food.png">
    <title>Your Order Summary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/styles.css" rel="stylesheet">
    <script>
        let orderID = localStorage.getItem('orderId');
        function genId() {
            document.getElementById('order_id').value = orderID;
        }
    </script>
</head>
<body onload="genId()">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="summary-part">
                <!-- Order Summary -->
                <table class="table"id="summary-table">
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                </table>
                <table class="table" id="final-cost">
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <!-- Customer Info -->
                <!-- REMEMBER TO ADD THE SERVER URL IN ACTION BAR -->
                <form class="form-horizontal" action="http://ec2-13-232-249-4.ap-south-1.compute.amazonaws.com/form-handler" method="POST">
                    <div class="form-group">
                        <label for="order_id" id="label_id">OrderID: </label>
                        <input type="text" id="order_id" name="order_id" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="room">Room, Hostel</label>
                        <input type='text' class="form-control" id="room" name="room" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Contact Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name='payment_mode' value="PayTM" required>PayTM
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="payment_mode" value="Google" required>Google Pay(Tez)
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="payment_id">UPI ID/Phone Number Connected With Payment Mode</label>
                        <input type="text" class="form-control" id="payment_id" name="payment_id">
                    </div>     
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" id="summarise">
                    </div>  
                    <!--ON SUBMIT BUTTON CLICK FORM DATA IS SENT OVER HTTPS THROUGH 
                    POST REQUEST. FORM HANDLING WILL BE DONE BY PYTHON, THERE MUST BE A
                    MODULE TO GET THE POST DATA FROM THE FORM IN KEY,VALUE PAIRS
                    USING IDK render.template(I guess), and then finally there is a redirect to
                    some weird page  -->
                </form>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- Scripts related to BOOTSTRAP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- MAIN SCRIPTS -->
    <script>
        //Receive Order Summary
        //Server setup
        const server = "http://ec2-13-232-249-4.ap-south-1.compute.amazonaws.com"; //CHANGE THIS
        // let orderID = localStorage.getItem('orderId');
        console.log('order id: ',orderID);
        let ele = $('#order_id');
        // function genId() {
        //     $("#label_id").innerHTML+=''+ orderID;
        // }
        console.log('order id sent in the form: ',ele.value);
        console.log('orderID',orderID);
        console.log("YAY");
        $.ajaxSetup({
            contentType: "application/json; charset=utf-8"
        });
        let items = {};
        let request = {'command':'order_dets','params':orderID};
        request = JSON.stringify(request);
        $(document).ready(function() {
            console.log("Document is Ready");
            //SENDING FIRST REQUEST
            ele.value = ''+orderID;
            $.ajax({
                url: server,
                type: 'POST',
                dataType: 'json',
                data: request,
                success: function(msg) {
                    console.log('Items received');
                    //msg = {"items": {'food':int,'food2':int,'food3':int}}
                    items = msg.items;
                    console.log(items);
                    //iterate through the items dictionary
                    for(const [key,value] of Object.entries(items)) {
                        //key is the name and value is the quantity
                        console.log('In the Loop: ',key,value);
                        $('<tr><td>'+key+'</td><td>'+value+'</tr>').appendTo('#summary-table');
                    }
                    //Now raise another request for the price of each item ordered
                    console.log('FIRST REQUEST RAISED');
                    request = {'command':'calculated_prices','params':orderID};
                        request = JSON.stringify(request);
                        let final_prices = [];
                        $.ajax({
                            url: server,
                            type:'POST',
                            dataType:'json',
                            data: request,
                            success: function(msg) {
                                console.log('RECEIVING FINAL COST');
                                //msg is in the form: {"items": [init-price,packaging_price,delivering_price,final_price]} note: array is returned
                                final_prices = msg.items;
                                for(let i=0;i<final_prices.length;i++) {
                                    console.log("ITERATING THROUGH FINAL PRICES",final_prices[i]);
                                    let x="";
                                    if(i===0) {
                                        x = "Initial Price:";
                                    }
                                    else if(i===1) {
                                        x = "Packaging Price:";
                                    }
                                    else if(i===2) {
                                        x = "Delivering Price:";
                                    }
                                    else if(i==3) {
                                        x = "Final Price:";
                                    }
                                    $('<tr><td>'+x+'</td><td>'+final_prices[i]+'</td></tr>').appendTo('#final-cost');
                                }
                            } //Success ends here for packaging,delivering and final cost
                        });
                    } // Success ends here for someone
                });
            }); //Success attribute ends of the request requesting for (item,quantity)
    </script>
</body>
</html>
